/* Стили заголовков, столбцов таблицы*/

table{
	text-align: center;
	padding-left: 40px;
}

#date{
  padding-top: 5px;
  padding-bottom: 5px;

  width: 200px;
  
}

#name {
	width: 150px;
}

#decided{
  width: 100px;
  
}
.num, .name, .theme, .decided{
  text-align: center;
}
/* Конец стилей*/

#status{
  border-bottom: 3px solid rgb(55, 75, 240);
}
#main{
  border-bottom: 0px ;
}